<mat-card class="card">
  <mat-card-title>Choose languages to translate your word</mat-card-title>
  <mat-card-content>
    <form #translate="ngForm" (submit)="onSubmit()">
      <mat-grid-list class="form-group" cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label for="fromLanguage">From</mat-label>
            <mat-select
              [(ngModel)]="model.fromLanguage"
              id="fromLanguage"
              class="form-control"
              required
              name="fromLanguage"
              *ngIf="fromL && fromL.length > 0"
              (selectionChange)="filterLanguages(model.fromLanguage)"
            >
              <mat-option matInput *ngFor="let lang of fromL" [value]="lang">
                {{ lang }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-icon class="arrow">arrow_forward</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label for="toLanguage">To</mat-label>
            <mat-select
              [(ngModel)]="model.toLanguage"
              name="toLanguage"
              id="toLanguage"
              class="form-control"
              required
              *ngIf="filteredL"
            >
              <mat-option matInput *ngFor="let fil of filteredL" [value]="fil">
                {{ fil }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label for="word">Word:</mat-label>
            <input
              matInput
              type="text"
              id="word"
              required
              maxlength="64"
              [(ngModel)]="model.word"
              name="word"
            />
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <button
            matInput
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!translate.form.valid"
          >
            Go!
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="res">
            <mat-card-content>
              <ul *ngIf="translates && translates.length > 0">
                <li *ngFor="let translate of translates">
                  {{ translate.text }}
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
